/* first color:#CC1616*/
/* second color:#CC1616*/

/*start header*/
.bg-dark .container a{
    color: #CC1616;
}

.bg-dark .container a:hover{
    color: #00B5FD;
}

/*end header*/

/* start navbar */

.navbar .collapse .nav-item:hover{
    background-color: #CC1616;
}

.nav-head{
    color: #CC1616;
}

/* end navabr */

/*start hero*/

.hero{
width: 100%;
  height: calc(100vh - 110px);
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-bg.jpg") fixed center center;
  background-size: cover;
}

/*end hero*/

/*start about*/

.about .about-arial{
    font-style: italic;
}

.about1 .m-2{
    box-shadow: #CC1616;
}

.about1 .border:hover{
    background-color: #CC1616;
    color: white;
}

.clinet{
    background-color: #F2F2F2;
}

.clinet img{
    width: 80%;
    padding: 20px 10px;
}
/*end about*/

/*start sevices*/
.services{
    text-align: center;
    padding: 30px 0;
    position: relative
}

.services .serv-span{
    z-index: 1;
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    color:#F4F4F4 ;
    font-size: 52px;
    line-height: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.services h1{
    z-index: 2;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.services .shadow-lg{
    padding: 80px 30px;

}

.services .font{
    color: white;
    box-shadow: -10px -10px #FCE5E5;
    background-color: #CC1616;
}

.services .col-12:hover{
    background-color: #CC1616;
    color: white;
}

/*start call*/

.call{
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cta-bg.jpg") fixed center center;
    color: white;
    padding: 100px 0;
    background-size: cover;
}

/*end call*/

/*end services*/

/*  start PORTFOLIO */

.porfolio{
    position: relative;
    text-align: center;
}

.porfolio .port-span{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 52px;
    color: #F4F4F4;
    font-weight: 700;
}

.porfolio .port-h1{
    z-index: 2;
    position: relative;
    font-size: 32px;
    padding-top: 50px;
    font-weight: 700;
}

.porfolio .list-inline li{
    cursor: pointer;
}
/* end PORTFOLIO */

/*start pricing*/

.pricing{
    position: relative;
    text-align: center;
}

.pricing .pricing-head span{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    font-weight: 700;
    line-height: 0;
    z-index: 1;
    font-size: 73px;
    color: #F2F2F2;
}

.pricing .pricing-head h1{
    z-index: 2;
    position: relative;
    font-weight: 700;
}

.pricing .pricing-content{
    background-color: #F9F9F9;
}

.pricing .pricing-content h1{
    color: #00B5FD;
    padding: 20px 0;
}


.pricing .pricing-content span{
    font-weight: bold;
    font-size: 20px;
}


.pricing .pricing-content h1 span{
    color: #C2BFC2;
    font-size: 20px;
    
}

.pricing .pricing-content:hover{
    background-color: #CC1616;
    color: white;
}
/*end pricing*/

/*start team*/

.team .team-head{
    position: relative;
    text-align: center
}

.team .team-head span{
    position: absolute;
    z-index: 1;
    font-size: 68px;
    top: 40px;
    left: 0;
    right: 0;
    color: #F2F2F2;
    font-weight: 700;

}

.team .team-head h1{
    z-index: 2;
    position: relative;
    font-weight: 700;
    margin-top: 50px;
}

.team  .team-content a{
    color: #919191;
}

.team  .team-content a:hover{
    color: #CC1616;
}

/*end team*/

/*start contact*/

.contact .contact-head{
    position: relative;
}

.contact .contact-head span{
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 0;
    right: 0;
    font-weight: 700;
    font-size: 68px;
    color: #F4F4F4;
}

.contact .contact-head h1{
    z-index: 2;
    position: relative;
    font-weight: 700;
}

.contact .contact-content i{
    color: #CC1616;
    border: dotted;
}

.contact .contact-content h4{
    color: #777777;
}

.contact .contact-content p{
    color: #777777;
}

/*end contact*/

/*my framfwork*/
