/* first color:#CC1616*/
/* second color:#CC1616*/
body{
    height: 10000px;
}
/*start header*/
.bg-dark .container .fa-solid{
    color: #CC1616;
}
/*end header*/

/* start navbar */

.navbar .collapse .nav-item:hover{
    background-color: #CC1616;
}

.nav-head{
    color: #CC1616;
}

/* end navabr */

/*start hero*/

.hero{
width: 100%;
  height: calc(100vh - 110px);
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
}

/*end hero*/

/*start about*/

.about .about-arial{
    font-style: italic;
}

.about1 .border{
    box-shadow: #CC1616;
}

.about1 .border:hover{
    background-color: #CC1616;
    color: white;
}

.clinet{
    background-color: #F2F2F2;
}

.clinet img{
    width: 80%;
    padding: 20px 10px;
}
/*end about*/

/*my framfwork*/
a{
    text-decoration: none;
    color:#CC1616;
}

a:hover{
    text-decoration: none;
    color: white
}

